.paneInicio{
    -fx-background-image: url(../img/inicioClaro.png);
    -fx-background-size: stretch;
}

.paneCliente{
    -fx-background-image: url(../img/usuarioBlanco.png);
    -fx-background-size: stretch;
}

.bar{
    -fx-background-color: #33b5e5;
}

.paneInicio:hover{
   -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 2, 2);
    
}
.paneInicio:pressed{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 0, 0);
}

.paneCliente:hover{
   -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 2, 2);
    
}
.paneCliente:pressed{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 0, 0);
}

.tab:hover {
 -fx-padding: 20px;
 -fx-cursor: hand;
}



.tab-pane:left *.tab-header-area {
 
 -fx-padding: 0;
}
.tab-pane:left .tab-header-area .tab-header-background{
    -fx-background-color: #212121;
    
}
.tabItem{
    -fx-padding: 15px;
    -fx-end-margin: 5;
    -fx-background-color: #2E2E2E;  
}

.boton{
    -fx-background-color: #33b5e5;
    -fx-cursor: hand;
}


.table-view .column-header{
    -fx-background-color: #212121;
}
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: #cc0066;
    
}
.table-view .column-header  .text{
    -fx-fill: white;
}

.boton:hover{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 2, 2);
}

.boton:pressed{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 0, 0);
}

.paneProveedor{
    -fx-background-image: url(../img/proveedores.png);
    -fx-background-size: stretch;
}


.paneProveedor:hover{
   -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 2, 2);
    
}
.paneProveedor:pressed{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 0, 0);
}



.paneCategoria{
    -fx-background-image: url(../img/categoriaNombre.png);
    -fx-background-size: stretch;
}



.paneProducto{
    -fx-background-image: url(../img/producto.png);
    -fx-background-size: stretch;
}

.paneProducto:hover{
   -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 2, 2);
    
}
.paneProducto:pressed{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 0, 0);
}